/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: var(--color6);
}
:root{
    --color1: rgba(255, 255, 255, 0.911);
    --color2: #006494;
    --color3: #247BA0;
    --color4: black;
    --color5:#919191;
    --color6:#d9d9d9;
    --Fontchoice: "Allan";
   
}
.cst-nav{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-width: 1px;
    background-color: var(--color1);
    width: 100%;
}
.text > a{
    padding: 30px;
    color: var(--color4);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;;
}
.text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}
.cst-nav > img{
    margin-left: 5px;
    border-style: solid;
    border-width: 0px;
    width: 100px;
}

.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.flow{
    height:100vh;
    width:90%;
    color: var(--color4);
    font-family: var(--Fontchoice);
}
.profile{
    width: 150px;
    height: 150px;
    padding: 10px;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 100px;
    
}
.intro{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
    
    margin:0;
    padding:0;
}
.name1{
    font-size: 50px;
    border-width: 1px;
     margin:0;
    padding:0;
    
}
.special{
    font-size: 80px;
    color: white;
    margin:0;
    padding:0;
    letter-spacing: 10px;
    text-decoration: underline;
    text-decoration-color: whitesmoke ;
}
.box-project{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap:wrap;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;;
    
}
.box{
    width: 200px;
    height: 200px;
    border-width: 1px;
    border-color: var(--color5);
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
}
.begin-intro{
    padding-top: 10px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    color: var(--color4);
    gap:10px;
    padding: 30px 10px 30px 10px;
    text-align: center;
    border-bottom: 2px solid gray;
   
}
.social{
    flex:1;
    text-align: left;
    padding: 5px;
    text-indent: 5px;
}
.social > p{
    padding-top: 15px;
    text-indent: 30px;
    font-size: 20px;
    letter-spacing:1px;
}
.form-container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 0;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    height: 80px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.logo{
    width: 30px;
}
.social-contact{
    border-width: 1px;
    padding-top: 10px;
    gap:10px;    
}
.social-contact > h5{
    border-width: 1px;
    padding: 5px 0px 0px 10px;    
}
.container-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    padding-bottom: 0;
    border-width: 1px;
    margin-top: 30px;
}
.flow-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h10{
    text-align: center;
    padding-top:40px;
    
}