/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{
    background-color: var(--color6);
}
:root{
    --color1: rgba(255, 255, 255, 0.911);
    --color2: #006494;
    --color3: #247BA0;
    --color4: rgb(78, 57, 57);
    --color5:#919191;
    --color6:#d9d9d9;
     --Fontchoice: "Allan";
}
.picture{
    width: 300;
    height:250px;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.bold{
    font-weight: bolder;
    padding-bottom: 5px;
    font-family: var(--Fontchoice);
    color: var(--color4);
    letter-spacing: 2px;
}
.p-description{
    text-indent:50px;
    text-align: left;
    padding-bottom:3px;
   
}
 .bullet{
    text-indent: 60px;
}
.timeline{
    padding-bottom:10px;
    margin-bottom: 10px;
    border-bottom: 5px solid rgb(52, 56, 52);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    height: auto;
}
