/* Reset */
@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: var(--color6);
}
:root{
    --color1: rgba(255, 255, 255, 0.911);
    --color2: #006494;
    --color3: #247BA0;
    --color4: black;
    --color5:#919191;
    --color6:#d9d9d9;
    --Fontchoice: "Allan";
   
}
.main{
    display:flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 100%;
    height:100%;
    padding-right: 50px;
    padding-left:50px;
}
/* This is for the recipe page of the webiste */
.recipe{
    width: 70%;
    height:100%;
    
}
h1{
    padding: 15px 0px 10px 0px;
}
.intro > label, h2{
    padding: 10px;
    margin-bottom:2px;
}
.font{
    font-family: Verdana;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.jump{
    margin-top: 10px;
    width: 180px;
    height: 50px;
    margin-left:5px;
    margin-bottom: 5px;
    border-radius:4px;
    border-color: red;
    box-shadow: none;
    font-size: 15px;
    font-family: Verdana;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.b-arrow{
    width: 50px;
    height: 30px;
    text-align: center;
}

.intro{
    border-bottom: 3px solid gray;
}
.recipe-description{
    padding-top:10px;
    padding-left:10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.email-promo{
    background-color: var(--color1);
    width:900px;
    height: 180px;
    padding:20px 20px 20px 50px;
    border-radius: 10px;
    text-align: left;
}
.want{
    text-align: left;
}
.input-e{
    width:550px;
    height: 40px;
}
.input-b{
    width:100px;
    height: 40px;
    background-color: var(--color2);
    color:var(--color1);
}
.step-procedure{
    width: 750px;
}
.no{
    padding:5px;
    width: 30px;         /* Set equal width and height for a perfect circle */
    height: 20px;        /* */
    background-color: yellow;/* Add a background color to make it visible */
    border-radius: 50%; 
    text-align: center;
    font-size: 20px;
   
}
.foodstep{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.serve-container{
    border:3px solid black;
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    width: 75%;
    border-radius: 5px;
}
.food-box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: center;
    gap:20px;
    height: 200px;
    background-color: var(--color1);
    border-radius: 5px;
    width:200px;
}
.icon-pic{
    width:100px;
    height: 100px;
}
.li-indent{
    margin-left: 30px;
}
a{
    color: orangered;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
    
}
.rating-box{
    padding-left:10px;
    padding-right:10px;
    margin-right: 5px;
    border: 2px solid var(--color2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.rate{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.rating{
    font-family: var(--Fontchoice);
    font-size: 20px;
    
}
bold{
    font-weight: 600;
}
.circ-pic{
    width: 50%;
    text-align: center;
}
.star{
    width: 50%;
    
}
.circ-pic1{
     width: 150px;
    height: 150px;
    border-radius: 50%;
}
.option{
    background-color: yellow;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-top: 5px;
}
.choice{
    width: 200px;
    background-color: red;
    color:var(--color1);
    font-size: 15px;
    font-weight:bolder;
    border-radius: 5px;
}
.email-outlined{
    width: 30px;
    height: auto;
}
.form-format{
    border-bottom: 3px solid gray;
    padding-bottom: 5px;
    width: 95%;
}
i{
    font-weight: lighter;
    color: white;
}

input[type=checkbox] {
    padding-bottom: 8px;;
    margin: 8px 0 0 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
  }
/*========================Experimental==============================*/
.color-bullet {
  list-style: none;
  counter-reset: my-awesome-counter;
  border-bottom: 3px solid gray;
  padding-bottom: 5px;
}
.color-number {
  counter-increment: my-awesome-counter;
  margin: 0.25rem;
}
.color-number::before {
  content: counter(my-awesome-counter);
  background: yellow;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: black;
  text-align: center;
  margin-right: 0.5rem;
}
.num-marg{
    margin-left: 30px;

}
/* This is for the sidepage  page of the webiste */
.sidebar{
    width:30%;
    height:100%;
  
}

.card {
  width: 350px;
  margin: 100px auto;
  background: #3f4c8b;
  color: white;
  text-align: center;
  padding: 80px 30px 40px;
  position: relative;
  
  border-radius: 5px;
}

.profile-img {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content h1 {
  margin-bottom: 15px;
}

.content p {
  font-size: 14px;
  line-height: 1.6;
}

.content a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}


.social-icons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  width: 45px;
  height: 45px;
  border: 3px solid #ffde59;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #ffde59;
  color: #3f4c8b;
}
