
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200..700&family=Roboto:wght@100..900&display=swap');
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font1: "Arial";
    --font2: "Roboto";
    --font3: "Lobster";
    --font4: "Oswald";
    --font500: 500; 
    --italic: "italic";
    --normal: "normal";
    --color1: #13293D;
    --color2:#006494;
    --color3:#247BA0;
    --color4:#E8F1F2;
    --error:  1px solid red;
    --error1: 1px solid blue;
    --error2: 1px solid green;
    --error3: 1px solid yellow;
}
.background{
    color: red;
    font-size: 50px;   
}
.nav-format{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding:10px;
    border: 1px solid var(--color1);
    background-color: var(--color4);
    height: 80px;
}
.nav-button{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:20px;
    width: 700px;
}
.nav-button1{
    font-family: var(--font2);
    font-size: 15px;
    width: auto;
    height: auto;
    background-color: transparent;
    color: var(--color4);
    border-style: none;
    
}
.button-link{
    text-align: center;
    width: 200px;
    height: 30px;
    background-color:var(--color2);
    border-radius: 5px;
    padding-top: 7px;
}
.logo-format{
    width: 80px;
    height: auto;
    border-radius:10px;
    border: 2px solid var(--color1);
}
.register-n{
    width: 200px;
    height: 40px;
    padding:5px;
    border-radius:30px;
    font-family: var(--font4);
    font-size: 17px;
    color:whitesmoke;
    background-color: #13293D;
   
}
.hero{
    display: flex;
    flex-direction: column;
  
    align-items: center;
}
.image-container {
  position: relative;
  width: 100%;
  height: 500px;
  background: url("pics/soultrain-sunset.jpg") center/cover no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center   ;
}

/* Blurred background */
.image-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("pics/soultrain-sunset.jpg") center/cover no-repeat;
  filter: blur(8px);
  transform: scale(1.1);
  z-index: 0;
}

/* Text stays above blur */
.text-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 33px;
  font-weight: bold;
  z-index: 1;
}


.text-overlay1{
    position: absolute;
    top: 38%;
    left: 35%;
    color: var(--color4);
    font-family: var(--font2);
    font-size: 30px
}
.register-hero{
    position: absolute;
    top:50%;
    left:36%;
    width: 250px;
    height: 40px;
    background-color: var(--color3);
    color:var(--color4);
    font-family: var(--font4);
    font-size:25px;
    border: 1px solid var(--color1);
    border-radius: 10px;
    padding-bottom: 3px;
}
.notes{
    position:absolute;
    top:83%;
    left:20%;
    border: 4px solid var(--color1);
    background-color: var(--color4);
    color: var(--color2);
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 800px;
    height: 90px;
    font-family: var(--font4);      
    font-size: 20px;
    gap:60px;
    padding-right: 5px;

}
a{
    text-decoration: none;
}

number{
    font-family: var(--font4);
    font-weight: var(--font500);
    font-size: 25px;
}
/*==================Second Page============================*/
.second-page{
    margin-top: 5px;
    padding: 10px;
    width:1050px;
    height:auto;
   
    color: black;
}
.speaker-details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
}
.speaker img {
    width:auto;
    height:290px;
    border-radius: 5px;
}
.speaker{
    text-align: center;
}
.important, .sub-important{
    text-align: center;
}
.speaker,
.details{
   
    width: auto;
    width: 100%;
}
.equal-bullet{
    display: flex;
    flex-direction: row;
    padding:10px;
    font-family: var(--font1);
    gap:10px;
    font-size:20px;
  
}
.equal-bullet ul{
   
    height: 220px;
    padding: 10px;
}
.equal-bullet li{
  
    padding: 8px;
}
.speaker-details-reverse{
    border-top: 2px solid var(--color2);
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
}
.sub-goals{
    text-align: justify;
    text-indent: 15px;
}
.end{
    background-color: var(--color1);
    width: 100%;
    height: 250px;
}
.end-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--color4);
    width: auto;
   
    padding:5px;
    gap:10px;
}
.social-info{
    padding-top: 10px;
    text-indent: 10px;
}
.unified-end{
    width: 600px;
}
.board{
    border-top-right-radius: 10px;

}
.input-email{
    width:370px;
    height: 33px;
    border-radius: 5px;
}
.submit-btn{
    width: 80px;
   height: 33px;
   font-family: var(--font2);
   border-radius: 8px;
   background-color: green;
   color: var(--color4);
   font-weight: 600;
}
.social{ 
    padding-top: 5px;;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 25px;
}
.f-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
}
.t-indent{
    text-indent: 10px;
    
}
.address-1{
    font-size:19px;
}
.last-foot{
    border-top: 3px solid var(--color4);
    text-align: center;
    padding:10px;
    color:var(--color4)
}